@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.size-box {
  align-items: center;
  border: 1ox solid #fff;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
  width: 2rem;
}
.size-box:hover {
  background-color: #fff;
  color: var(--primary, #000);
}